.login-form {
    width: 350px;
    height: 400px;
    padding: 20px 15px;
    box-sizing: border-box;
    border: 7px solid var(--green);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.container {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container {
    position: absolute;
    top: -50px;
    left: 0px;
}

.button-container a {
    color: var(--green);
    text-decoration: none;
    font-family: var(--inter);
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
}